# local build artifacts
Tools
packages
[Oo]bj
[Bb]in
.build/VersionAssemblyInfo.cs

# NuGet packaging artifacts
NuGetBuild/**/*.dll
NuGetBuild/**/*.pdb
NuGetBuild/**/*.nupkg
NuGetBuild/**/Lib
NuGet

# local solution files
StyleCop.Cache
*.suo
.localhistory
*.user
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
