<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="romanticWeb" type="RomanticWeb.Configuration.ConfigurationSectionHandler, RomanticWeb"/>
    <section name="romanticWebDefaults" type="RomanticWeb.Configuration.ConfigurationSectionHandler, RomanticWeb"/>
    <section name="missingMetaGraph" type="RomanticWeb.Configuration.ConfigurationSectionHandler, RomanticWeb"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-4.5.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <romanticWebDefaults metaGraphUri="http://graphs.example.com">
  </romanticWebDefaults>
  
  <missingMetaGraph>
  </missingMetaGraph>

  <romanticWeb metaGraphUri="http://meta.romanticweb.com">
    <mappingAssemblies>
      <add assembly="Magi.Balthazar.Contracts"/>
      <add assembly="Magi.Web"/>
    </mappingAssemblies>
    <ontologies>
      <add prefix="lemon" uri="http://www.monnet-project.eu/lemon#" />
      <add prefix="frad" uri="http://iflastandards.info/ns/fr/frad/" />
    </ontologies>
    <baseUris default="http://www.romanticweb.com/"/>
  </romanticWeb>
</configuration>