<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="romanticWeb" type="RomanticWeb.Configuration.ConfigurationSectionHandler, RomanticWeb"/>
    <section name="romanticWeb.dotNetRDF" type="RomanticWeb.DotNetRDF.Configuration.StoresConfigurationSection, RomanticWeb.DotNetRDF"/>
    <section name="missingMetaGraph" type="RomanticWeb.Configuration.ConfigurationSectionHandler, RomanticWeb"/>
  </configSections>

  <connectionStrings>
    <add connectionString="Server=server1:port1,server2:port2,server3:port3;UserId=dba;Password=dba;" name="virtuoso"/>
  </connectionStrings>
    
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-4.5.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <romanticWeb>
    <factories>
      <factory name="default" metaGraphUri="http://meta.romanticweb.com">
        <mappingAssemblies>
          <add assembly="Magi.Balthazar.Contracts"/>
          <add assembly="Magi.Web"/>
        </mappingAssemblies>
        <ontologies>
          <add prefix="lemon" uri="http://www.monnet-project.eu/lemon#" />
          <add prefix="frad" uri="http://iflastandards.info/ns/fr/frad/" />
        </ontologies>
        <baseUris default="http://www.romanticweb.com/"/>
      </factory>

      <factory name="empty" metaGraphUri="http://graphs.example.com"></factory>
    </factories>
  </romanticWeb>

  <romanticWeb.dotNetRDF>
    <dnrConfigurationFiles>
      <add name="default" path="config.ttl"/>
    </dnrConfigurationFiles>
    <stores>
      <inMemory name="in-memory" threadSafe="false" />
      <inMemory name="threadsafe" />
      <persistent name="virtuoso-connectionString">
        <virtuosoManager connectionString="Server=server1:port1,server2:port2,server3:port3;UserId=dba;Password=dba;" />
      </persistent>
      <persistent name="virtuoso-connectionStringName">
        <virtuosoManager connectionStringName="virtuoso" />
      </persistent>
      <persistent name="virtuoso-default-server">
        <virtuosoManager db="database-name" user="some test" password="pass word" />
      </persistent>
      <persistent name="virtuoso-default-server-timeout">
        <virtuosoManager db="database-name" user="some test" password="pass word" timeout="1000" />
      </persistent>
      <persistent name="virtuoso-server">
        <virtuosoManager server="virtuoso-host" port="5000" db="database-name" user="some test" password="pass word" />
      </persistent>
      <persistent name="virtuoso-server-timeout">
        <virtuosoManager server="virtuoso-host" port="5000" db="database-name" user="some test" password="pass word" timeout="1000" />
      </persistent>
      <persistent name="allegro-baseUri-storeID">
        <allegroGraphConnector baseUri="http://some/uri" storeID="store1234" />
      </persistent>
      <persistent name="allegro-baseUri-cataologID-storeID">
        <allegroGraphConnector baseUri="http://some/uri" storeID="store1234" catalogID="catalog09876" />
      </persistent>
      <persistent name="allegro-baseUri-storeID-user">
        <allegroGraphConnector baseUri="http://some/uri" storeID="store1234" username="user" password="password" />
      </persistent>
      <persistent name="allegro-baseUri-cataologID-storeID-user">
        <allegroGraphConnector baseUri="http://some/uri" storeID="store1234" catalogID="catalog09876" username="user" password="password" />
      </persistent>
      <persistent name="allegro-manual">
        <customProvider type="VDS.RDF.Storage.AllegroGraphConnector, dotNetRDF">
          <parameters>
            <add key="baseUri" value="http://localhost:666/allegro"/>
            <add key="storeID" value="some store"/>
          </parameters>
        </customProvider>
      </persistent>
      <external name="external-bnode" dnrConfigurationfile="default" blankNode="virtuoso_store" />
      <external name="external-uri" dnrConfigurationfile="default" uri="urn:some:store" />
    </stores>
  </romanticWeb.dotNetRDF>

  <missingMetaGraph>
    <factories>
      <factory />
    </factories>
  </missingMetaGraph>
</configuration>