<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.3" targetFramework="net45" />
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net45" />
  <package id="Fody" version="1.23.2" targetFramework="net45" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net45" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net45" />
  <package id="NLog.Schema" version="2.1.0" targetFramework="net45" />
  <package id="NUnitTestAdapter.WithFramework" version="1.0" targetFramework="net45" />
  <package id="Remotion.Linq" version="1.15.7.0" targetFramework="net45" />
  <package id="Resourcer.Fody" version="1.2.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="VDS.Common" version="1.2.0" targetFramework="net45" />
</packages>