<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

<div class="collapse navbar-collapse" id="categories">
    {% for cat in site.docs-categories %}
    <ul class="nav navbar-nav" style="list-style: none; width:100%;">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ include.header }}<span class="caret"></span></a>	
			<ul class="dropdown-menu" role="menu">
			{% for link in site.pages | sort: 'title' %}
				{% for pageCategory in link.categories %}
					{% if pageCategory == include.category %}
						{% if page.url contains link.url %}
						<li class="active" >
						{% else %}
						<li>
						{% endif %}
							<a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
			{% endfor %}
			</ul>
		</li>
    </ul>
    {% endfor %}
</div>


	<!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>