
<div>
    {% for cat in site.docs-categories %}
    {{ include.header }}
    <ul>
        {% for link in site.pages | sort: 'title' %}
            {% for pageCategory in link.categories %}
                {% if pageCategory == include.category %}
                    {% if page.url contains link.url %}
                    <li class="active" >
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    {% endfor %}
</div>