---
layout: default
---

<div class="content container">
    <div class="row">
        <aside class="col-md-3">
            {% include categories.html category='getting-started' header='Getting started' %}
            {% include categories.html category='basic-usage' header='Basic usage' %}
            {% include categories.html category='advanced-topics' header='Advanced topics' %}
        </aside>
        <article class="main col-md-9">
            {% include prevnext.html %}
            {{ content }}
            {% include prevnext.html %}
        </article>
    </div>
</div>
